@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: prompt;
  src: url(../public/Prompt\ Regular.ttf);
}
@font-face {
  font-family: prompt-Bold;
  src: url(../public/Prompt-Bold.ttf);
}

.prompt {
  font-family: prompt;
}

.prompt-Bold {
  font-family: prompt-Bold;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Monospace;
}

::selection {
  background-color: #83cabe;
}
/* ::selection {
  background-color: #dfdfdf;
} */

/*---NavBar---*/
nav {
  font-weight: 400;
}
.navbar {
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  padding: 5px;
  z-index: 1;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
  cursor: pointer;
  padding: 0px 20px;
  transition: transform 0.2s;
}
li:hover {
  transform: scale(1.1);
}

li img {
  /*filter: drop-shadow(5px 5px 5px #919191);*/
}

/* @media only screen and (max-width: 390px) {
  li img {
    width: 550px;
    filter: drop-shadow(5px 5px 5px #919191);
   }
} */

/*---Home---*/

.home-page h1 {
  filter: drop-shadow(5px 3px 1px #c1c1c1);
}
.about-container h1 {
  filter: drop-shadow(5px 3px 1px #c1c1c1);
}
.skills-page h1 {
  filter: drop-shadow(5px 3px 1px #c1c1c1);
}

.home-container {
  height: 500px;
  margin: 50px;
  border: solid 1px;
}

/* .home-page button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  color: #dbdbdb;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: transform 0.2s;
}
.home-page button:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px #9fdfd8);
}
.home-text-container h1 {
  font-size: 50px;
}
.home-text-container h3 {
  margin-top: -50px;
  margin-bottom: 40px;
  letter-spacing: 5px;
} */

.home-page button {
  border: none;
  color: #000;
}
.home-page button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.4s ease;
}
.home-page button:hover {
  background-color: #dddddd;
}
.home-page button:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.home-page button:active {
  top: 2px;
  color: #e9e9e9;
  background-color: #000000;
}

.home-page button {
  width: 200px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.skills-1 img {
  height: 50px;
  width: 50px;
}

.skills-2 img {
  height: 50px;
  width: 50px;
}

.project-display {
  width: 300px; /* Set a fixed width */
  height: 250px; /* Set a fixed height */
}

.projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  display: block;
  border: rgb(125, 125, 125) solid 1px;
  transition: transform 0.5s, box-shadow 0.3s ease;
}

.projects img:hover {
  transform: scale(1.1);
  box-shadow: #747575 5px 5px 15px;
  cursor: pointer;
}

.about-content img {
  transition: transform 0.5s;
}

.about-content img:hover {
  transform: scale(1.1);
  filter: drop-shadow(5px 5px 5px #747575);
}

/* custom cursor  */
/* .ball {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  backdrop-filter: invert(1) grayscale(1);
  -webkit-backdrop-filter: invert(1) grayscale(1);
  z-index: 99999;
} */

.infomation-box:hover {
  cursor: none;
}

@media only screen and (min-width: 600px) {
  .ball {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    backdrop-filter: invert(1) grayscale(1);
    -webkit-backdrop-filter: invert(1) grayscale(1);
    z-index: 99999;
  }
  .contact-icon img {
    height: 50px;
    width: 50px;
  }
}

.education-page button {
  border: none;
  color: #000;
}
.education-page button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.4s ease;
}
.education-page button:hover {
  background-color: #dddddd;
}
.education-page button:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.education-page button:active {
  top: 2px;
  color: #e9e9e9;
  background-color: #000000;
}

.education-page button {
  width: 200px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.home-click:hover {
  font-weight: 700;
}

@keyframes slide-up {
  from {
    transform: translateY(5%);
    opacity: 0.2;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .about-container {
    animation: slide-in 1000ms;
    animation-delay: 0ms;
  }
  .slide-up {
    animation: slide-up 1000ms;
    animation-delay: 0ms;
    /* ตัวอย่างอื่น ๆ ที่คุณอาจต้องการใส่ */
  }
}
